.container {
    display: flex;
    justify-content: space-around;
}

.campo-section, .cidade-section {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.campo-section {
    background-color: #9ACD32; /* Verde Claro */
}

.cidade-section {
    background-color: #556B2F; /* Verde Oliva */
}
