.container {
    display: flex;
    justify-content: space-around;
}

.campo-section, .cidade-section {
    width: 45%;
    padding: 20px;
    border: 1px solid #5b935a;
    border-radius: 5px;
}

.campo-section {
    background-color: #2c4f2c; /* Verde claro */
}

.cidade-section {
    background-color: #213727; /* Cinza claro */
}
